!!!
%html{:lang => "en", :role => "application"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "Content-Type"}
    %title
      = "Home"
      Utilhub
  = favicon_link_tag 'favicon.ico'
  = stylesheet_link_tag    "application"
  = javascript_include_tag  "application"
  = csrf_meta_tags
  = include_gon
   
  %link{:href => "/assets/desktop/lib/dojo/resources/dojo.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "/assets/desktop/resources/qfacex/dijit.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "/assets/desktop/resources/qfacex/dijit_rtl.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "/assets/desktop/resources/qfacex/themes/soria/icons.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "/assets/desktop/resources/qfacex/qface.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
  = javascript_include_tag "desktop/config/config"
  = javascript_include_tag "desktop/lib/dojo/dojo"
  %body
    .loading
    :javascript
      require([
        "dojo/json",
        "dijit/dijit-all",
        "qface/Runtime",
        "/assets/desktop/Desktop",
        "dojo/request",
        "dojo/text!config/config.json", 
        "dojo/domReady!"
      ], function(JSON,dijit,Runtime,Desktop,request,txtConfig) {
        var config;
        function hideLoadingPane() {
          var loading = dojo.query('.loading');
          if (loading[0]){ // remove the loading div
            loading[0].parentNode.removeChild(loading[0]);
          }
        }
        try {
          // config = JSON.parse(txtConfig);
          request("/qface/dashboard/desktop").then(function(text){
            config = JSON.parse(text);
            Runtime.run(Desktop,config,hideLoadingPane);
          })
        } catch(e) {
          throw e;
        }
      });